<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <div class="header">
        <h1>
            Library System
        </h1>
    </div>
    <div id="app">


        <div v-show="!editPage">
            <!-- first nav -->
            <div class="firstnavParent">
                <div @click="goBooksTab" v-bind:class="{active: booksTab}" class="firstNav">
                    <span>
                        Books
                    </span>
                </div>
                <div @click="goAddBook" v-bind:class="{active: addBookTab}" class="firstNav">
                    <span>
                        Add a New Book
                    </span>
                </div>
                <div @click="goSearchTab" v-bind:class="{active: searchTab}" class="firstNav">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span>
                        Search
                    </span>
                </div>
            </div>
    
            <!-- Books Tab -->
            <div v-show="booksTab">
    
            
            <!-- Books Nav -->
            <!-- Random or by category  -->
            <div class="booksNav">
                <div @click="updateFilter('random')" v-bind:class="{notActive : current !== 'random'}">
                    <p>
                        Random
                    </p>
                </div>
                <div @click="updateFilter('byCategory')" v-bind:class="{notActive : current !== 'byCategory'}">
                    <p>
                        By Category
                    </p>
                </div>
            </div>
            
            <!-- Random -->
            <div v-show="current === 'random'">
    
                <div v-for="b in books" style="display: flex; flex-direction: column;">
    
                    <!-- Book card -->
                    <div style="background: white; border-radius: 0.625rem; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; padding: 0.5rem; margin-block: 1rem;">
                        <div style="display: flex; align-items: center; color: rgb(66, 61, 61); font-size: 1.2rem; font-weight: 600;">
                            <div>
                                <img v-bind:src="b.imageLink" alt="" style="width: 8rem; aspect-ratio: auto; border-radius: 0.375rem;">
                            </div>
                            <!-- details and CRUD -->
                            <div style="display: flex; flex-direction: column; width: 100%; gap: 1rem; padding: 0.5rem;">
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <div>
                                        <p>
                                            {{b.title}}
                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                            By {{b.author}}
                                        </p>
                                    </div>
                                    <div class="icons">
                                        <!-- delete icon -->
                                            <div @click="deleteBook(b.id)" style="cursor: pointer;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                                                <i class="fa-regular fa-trash"></i>
                                            </div>
                                            <!-- edit icon -->
                                            <div @click="goEdit(b.id)" style="cursor: pointer;" onMouseOver="this.style.color='blue'" onMouseOut="this.style.color='black'">
                                                <i class="fa-regular fa-file-pen"></i>
                                            </div>
                                    </div>
                                </div>
    
                                    <!-- Price and Buy -->
                                    <div style="display: flex; align-items: center; justify-content: center; gap: 3rem;">
                                        <div>
                                            <span style="text-align: center; color: rgb(0, 117, 0);">
                                                {{b.year/100}} $
                                            </span>
                                        </div>
                                        <div>
                                            <button @click="b.pages--" style="border: 0; border-radius: 0.4rem; padding: 10px 40px; background: rgb(54, 95, 228); color: white;">
                                                Buy
                                            </button>
                                        </div>
                                    </div>
                                    <div style="text-align: center; color: red; margin-block: 0; padding-block: 0; font-size: 0.8rem;">
                                        <span>
                                            only
                                        </span>
                                        <span style="font-size: 0.95rem;">
                                            {{b.pages}}
                                        </span>
                                        <span>
                                            remains
                                        </span>
                                    </div>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
    
            <!-- By category -->
             <div v-show="current === 'byCategory'">
                
                    <div v-for="b in books" style="display: flex; flex-direction: column;">
                            <div style="display: flex; flex-direction: column;">
                                
                                <!-- Book card -->
                                <div style="background: white; border-radius: 0.625rem; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; padding: 0.5rem; margin-block: 1rem;">
                                    <div style="display: flex; align-items: center; color: rgb(66, 61, 61); font-size: 1.2rem; font-weight: 600;">
                                        <div>
                                            <img v-bind:src="b.imageLink" alt="" style="width: 8rem; aspect-ratio: auto; border-radius: 0.375rem;">
                                        </div>
                                        <!-- details and CRUD -->
                                        <div style="display: flex; flex-direction: column; width: 100%; gap: 1rem; padding: 0.5rem; padding-top: 0;">

                                            <!-- category Tags -->
                                             <div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
                                                 <div v-for="bc in bookcat">
                                                    <div v-for="c in categories" v-show="bc.catId === c.id">
                                                        <div v-show="bc.bookId === b.id">

                                                            <div class="category">
                                                                <p style="margin: 0;">
                                                                    {{c.name}}
                                                                </p>
                                                            </div>
                                                        </div>

                                                    </div>
    
                                                 </div>
                                             </div>

                                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                                <div>
                                                    <p>
                                                        {{b.title}}
                                                    </p>
                                                </div>
                                                <div>
                                                    <p>
                                                        By {{b.author}}
                                                    </p>
                                                </div>
                                                <div class="icons">
                                                    <!-- delete icon -->
                                                        <div @click="deleteBook(b.id)" style="cursor: pointer;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                                                            <i class="fa-regular fa-trash"></i>
                                                        </div>
                                                        <!-- edit icon -->
                                                        <div @click="goEdit(b.id)" style="cursor: pointer;" onMouseOver="this.style.color='blue'" onMouseOut="this.style.color='black'">
                                                            <i class="fa-regular fa-file-pen"></i>
                                                        </div>
                                                </div>
                                            </div>
    
                                                <!-- Price and Buy -->
                                                <div style="display: flex; align-items: center; justify-content: center; gap: 3rem;">
                                                    <div>
                                                        <span style="text-align: center; color: rgb(0, 117, 0);">
                                                            {{b.year/100}} $
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <button @click="b.pages--" style="border: 0; border-radius: 0.4rem; padding: 10px 40px; background: rgb(54, 95, 228); color: white;">
                                                            Buy
                                                        </button>
                                                    </div>
                                                </div>
                                                <div style="text-align: center; color: red; margin-block: 0; padding-block: 0; font-size: 0.8rem;">
                                                    <span>
                                                        only
                                                    </span>
                                                    <span style="font-size: 0.95rem;">
                                                        {{b.pages}}
                                                    </span>
                                                    <span>
                                                        remains
                                                    </span>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

             </div>
    
        </div>
        <!-- /Books Tab -->
    
        <!-- Add a NewBook Tab -->
         <div v-show="addBookTab" class="form">
            <form @submit.prevent="" style="display: flex; flex-direction: column; gap: 3rem;">
    
                <div style="display: flex; flex-direction: column; gap: 1rem;">
                    <label>
                        title:
                    </label>
                    <input type="text" v-model="newTitle">
                </div>
                <div style="display: flex; flex-direction: column; gap: 1rem;">
                    <label>
                        author:
                    </label>
                    <input type="text" v-model="newAuthor">
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex; flex-direction: column; gap: 1rem; width: 100%;">
                        <label>
                            price:
                        </label>
                        <div style="display: flex; align-items: center; width: 50%;">
                            <input type="number" v-model="newPrice">
                            <span>
                                $
                            </span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 1rem; width: 100%;">
                        <label>
                            category:
                        </label>
                        <div style="display: flex; align-items: center; gap: 1rem;">
                            <select required v-model="tempCategory" @change="addCategory">
                                <!-- <option selected disabled>Select a Category</option> -->
                                <option v-for="c in categories">{{c.name}}</option>
                            </select>
                        </div>
                        <div style="display: flex; flex-wrap: wrap;">
                            <div v-for="cate in categoriesToAdd" :key="cate" class="pill" @click="deletecate(cate)">
                                {{cate}}
                                <span style="color: red;">
                                    x
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="display: flex; justify-content: center; gap: 3rem;">
                    <div>
                        <button @click="handleAdd">
                            Add Book
                        </button>
                    </div>
                    <div>
                        <button @click="cancelAdd" class="cancelButton">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
         </div>
    
         <!-- Search Tab -->
          <div v-show="searchTab">
    
            <div style="position: relative; display: flex; align-items: center;">
                <input v-model="search" type="text" class="searchInput" placeholder="Enter Title or Author">
                <button class="searchButton">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
    
            <div v-for="b in findBook" style="display: flex; flex-direction: column;">
    
                <!-- Book card -->
                <div style="background: white; border-radius: 0.625rem; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; padding: 0.5rem; margin-block: 1rem;">
                    <div style="display: flex; align-items: center; color: rgb(66, 61, 61); font-size: 1.2rem; font-weight: 600;">
                        <div>
                            <img v-bind:src="b.imageLink" alt="" style="width: 8rem; aspect-ratio: auto; border-radius: 0.375rem;">
                        </div>
                        <!-- details and CRUD -->
                        <div style="display: flex; flex-direction: column; width: 100%; gap: 1rem; padding: 0.5rem;">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <div>
                                    <p>
                                        {{b.title}}
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        By {{b.author}}
                                    </p>
                                </div>
                                <div class="icons">
                                    <!-- delete icon -->
                                        <div @click="deleteBook(b.id)" style="cursor: pointer;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                                            <i class="fa-regular fa-trash"></i>
                                        </div>
                                        <!-- edit icon -->
                                        <div @click="goEdit(b.id)" style="cursor: pointer;" onMouseOver="this.style.color='blue'" onMouseOut="this.style.color='black'">
                                            <i class="fa-regular fa-file-pen"></i>
                                        </div>
                                </div>
                            </div>
    
                                <!-- Price and Buy -->
                                <div style="display: flex; align-items: center; justify-content: center; gap: 3rem;">
                                    <div>
                                        <span style="text-align: center; color: rgb(0, 117, 0);">
                                            {{b.year/100}} $
                                        </span>
                                    </div>
                                    <div>
                                        <button @click="b.pages--" style="border: 0; border-radius: 0.4rem; padding: 10px 40px; background: rgb(54, 95, 228); color: white;">
                                            Buy
                                        </button>
                                    </div>
                                </div>
                                <div style="text-align: center; color: red; margin-block: 0; padding-block: 0; font-size: 0.8rem;">
                                    <span>
                                        only
                                    </span>
                                    <span style="font-size: 0.95rem;">
                                        {{b.pages}}
                                    </span>
                                    <span>
                                        remains
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
    
            </div>
          </div>

        </div>

        <!-- Edit Page -->
        <div v-show="editPage">

            <div class="form">
                <form @submit.prevent="" style="display: flex; flex-direction: column; gap: 3rem;">
        
                    <div style="display: flex; flex-direction: column; gap: 1rem;">
                        <label>
                            title:
                        </label>
                        <input v-model="editingTitle" type="text">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 1rem;">
                        <label>
                            author:
                        </label>
                        <input v-model="editingAuthor" type="text">
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="display: flex; flex-direction: column; gap: 1rem; width: 100%;">
                            <label>
                                price:
                            </label>
                            <div style="display: flex; align-items: center; width: 50%;">
                                <input v-model="editingPrice" type="number">
                                <span>
                                    $
                                </span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; gap: 1rem; width: 100%;">
                            <div style="display: flex; flex-direction: column; gap: 1rem;">
                                <label>
                                    category:
                                </label>
                                <select v-model="tempCategory" @change="addEditCategory">
                                    <option v-for="c in categories">{{c.name}}</option>
                                </select>
                            </div>
                            <div style="display: flex; flex-wrap: wrap;">
                                <div v-for="cateit in categoriesToEdit" :key="cateit" class="pill" @click="deletecateit(cateit)">
                                    {{cateit}}
                                    <span style="color: red;">
                                        x
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center; gap: 3rem;">
                        <div>
                            <button @click="handleEdit">
                                Edit Book
                            </button>
                        </div>
                        <div>
                            <button @click="cancelEdit" class="cancelButton">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    
    <script src="../js/all.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/sweetalert.js"></script>
    <script src="../js/library.js"></script>
</body>
</html>